<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>cafe menu</title>

    <script type="module" crossorigin src="/assets/cafe-6xd6-JL5.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/header-D3uMKXAI.js">
    <link rel="modulepreload" crossorigin href="/assets/languageToggleBtn-CJhW3R8M.js">
    <link rel="stylesheet" crossorigin href="/assets/header-BfYZ9aHk.css">
    <link rel="stylesheet" crossorigin href="/assets/languageToggleBtn-Cq9ijXSs.css">
    <link rel="stylesheet" crossorigin href="/assets/cafe-B7xOTCID.css">
  </head>
  <body>
    <header class="header"></header>
      <div class="header__container"></div>
    </header>
    <main>
      <article class="cafe-menu">
        <div
          id="cafe-menu-container"
          class="cafe-menu__container"
        ></div>
      </article>
    </main>
    <footer class="footer"></footer>
  </body>
</html>